# Environment variables (Token Telegram rahasia)
.env

# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data input/output (agar file CSV/Excel tidak ikut terupload ke GitHub publik)
data/*
!data/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# IDE configs
.vscode/
.idea/
